<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>API REST - Bienvenido</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="bg-gray-900 bg-opacity-80 text-white">
    <header class="bg-white bg-opacity-80 shadow">
        <nav class="container mx-auto flex justify-between items-center p-4">
            <a href="/" class="text-xl font-bold text-blue-600">BackEnd Silicon</a>
            <ul class="flex space-x-4">
                <li><a href="/doc" class="text-gray-800 hover:text-blue-600">Documentación</a></li>
            </ul>
        </nav>
    </header>

    <main class="container mx-auto p-6 bg-white bg-opacity-90 rounded shadow-lg mt-10">
        <h1 class="text-4xl font-bold mb-4 text-center text-gray-700">Bienvenido a la API REST</h1>
        <p class="mb-4 text-gray-700">Esta API REST se basa en el estándar RESTful, permitiendo la interacción a través de métodos HTTP. Las rutas disponibles incluyen:</p>
        <p class="mb-4 text-gray-700">
            Para más información sobre cómo utilizar esta API, consulta la documentación disponible en 
            <a href="/doc" class="text-blue-600 underline hover:text-blue-800">Swagger Document</a>.
        </p>
    </main>
</body>
</html>
